<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit: {{ event.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"/>
    <link rel="icon" href="{% static 'icon.png' %}">
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    {% load localise_strict %}
</head>
<body>
    {% include "public/header_snippet.html" %}
    <div class="container" style="padding-top: 20px">
        {% if saved %}
            <p class="text-success"><b>Saved!</b></p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <legend>Edit Event Details</legend>
        <div class="container">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ event.title }}" maxlength="50">
                {% if error.title %}
                    <label for="title" class="form-label text-danger"><b>{{ error.title }}</b></label>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3"  name="description" maxlength="1000">{{ event.description }}</textarea>
                {% if error.description %}
                    <label for="description" class="form-label text-danger"><b>{{ error.description }}</b></label>
                {% endif %}
            </div>
{#            <div class="mb-3">#}
{#                <label for="start-time" class="form-label">Start Time</label>#}
{#                <input type="datetime-local" step="1"  class="form-control" id="start-time" name="start-time" value="{% localise_strict event.start_time %}">#}
{#                {% if error.start_time %}#}
{#                    <label for="start-time" class="form-label text-danger"><b>{{ error.start_time }}</b></label>#}
{#                {% endif %}#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label for="end-time" class="form-label">End Time</label>#}
{#                <input type="datetime-local" step="1" class="form-control" id="end-time" name="end-time" value="{% localise_strict event.end_time %}">#}
{#                {% if error.end_time %}#}
{#                    <label for="end-time" class="form-label text-danger"><b>{{ error.end_time }}</b></label>#}
{#                {% endif %}#}
{#            </div>#}
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Start Time</span>
                    <label for="start-time"></label>
                    <input type="datetime-local" step="1" class="form-control" name="start-time" value="{% localise_strict event.end_time %}">
                    <span class="input-group-text">End Time</span>
                    <label for="end-time"></label>
                    <input type="datetime-local" step="1" class="form-control" name="end-time" value="{% localise_strict event.end_time %}">
                    {% if error.start_time %}
                        <label for="start-time" class="form-label text-danger"><b>Start Time: {{ error.start_time }}</b></label>
                    {% endif %}
                     {% if error.end_time %}
                        <label for="end-time" class="form-label text-danger"><b>End Time: {{ error.end_time }}</b></label>
                    {% endif %}
                </div>
            </div>
        
            <p class="mb-1">Click to select a rough centre for the event:</p>
            <div id="map" style="height: 30rem; width: 100%"></div>
            <button onclick="goToRealPosition()" type="button">Go to my position</button>
            <button onclick="goToMarker()" type="button">Go to event centre</button>
        
            <div class="input-group mt-3 mb-0">
                <span class="input-group-text">Latitude</span>
                <input id="latitude" name="latitude" onchange="onInputChange()" onkeyup="onInputChange()" type="text" class="form-control" placeholder="e.g. -2.12341234" aria-label="Latitude" value="{{ center.latitude }}">
                <span class="input-group-text">Longitude</span>
                <input id="longitude" name="longitude" onchange="onInputChange()" onkeyup="onInputChange()" type="text" class="form-control" placeholder="e.g. 2.12341234" aria-label="Longitude" value="{{ center.longitude }}">
            </div>
            {% if error.position %}
                <label for="longitude" class="form-label text-danger mb-3"><b>{{ error.position }}</b></label>
            {% endif %}
        
            <legend class="mt-3">Setup Zones</legend>
        
            <div id="map-zones" style="height: 30rem; width: 100%"></div>
            <button onclick="goToRealPositionZones()" type="button">Go to my position</button>
            <button onclick="goToMarkerZones()" type="button">Go to event centre</button>
        
            <div class="container mt-3" id="zone-container">
                <p class="text-muted" id="no-zone-text" {% if zones.count != 0 %}style="display: none"{% endif %}>No zones created</p>
                <div class="mt-3 mb-3">
                    <button class="btn btn-success" type="button" onclick="createZone(null, 'New Zone', null, null, null, '{% localise_strict now %}', '{% localise_strict now %}', null, true, null)">Create Zone</button>
                </div>
            </div>
        
            <div class="mt-3 mb-3">
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        
            {% include "setup/edit_zone_template.html" %}
        
            <script src="{% static 'setup/edit.js' %}"></script>
            <script src="{% static 'setup/edit_zones.js' %}"></script>
            {% for zone in zones %}
                <script defer>
                    createZone({{ zone.z.id }}, 
                        "{{ zone.z.title }}", {% if zone.error.title %}"{{ zone.error.title }}"{% else %}null{% endif %}, 
                        {{ zone.z.index }}, {% if zone.error.index %}"{{ zone.error.index }}"{% else %}null{% endif %}, 
                        "{% localise_strict zone.z.start_time %}", "{% localise_strict zone.z.end_time %}", {% if zone.error.time %}"{{ zone.error.time }}"{% else %}null{% endif %},
                        {% if zone.z.is_circle %}true{% else %}false{% endif %}, 
                        null);
                </script>
            {% endfor %}
        </form>
    </div>
</body>
</html>